<h2>Welcome to the My Project</h2>

<div class="card">
    <p-table [value]="customer" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Cust Code</th>
                <th>Cust Name</th>
                <th>city</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.city }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>